<h2>所有群组</h2>
<%= link_to("创办群组", new_group_path, class:"btn btn-success btn-lg") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>群组</th>
      <th>群描述</th>
      <th>群组</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "group_index", :collection => @groups, :as => :group %>
  </tbody>
</table>
